@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500;900&display=swap");

.carousel-item {
  text-shadow: #c3c0bf;
}

.Goles {
  background-image: url(../assets/images/FONDO\ MESSI.webp);
  background-size: cover;
}

.iframegoles {
  width: 50vw;
  height: 70vh;
}

.Galeria {
  background-color: #20678a;
}

.FondoContacto {
  background-image: url(../assets/images/messiylacopa.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 84vh;
}

.maincontacto,
.mainnoticia,
.maininicio,
.maingaleria {
  width: 100%;
  min-height: 84vh;
}

.ImgGaleria {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 82vh;
  padding: 10px;
  justify-content: center;
}

.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7 {
  object-fit: cover;
  height: 30.83%;
  width: 27.5%;
  margin: 5px;
}

.img2 {
  width: 67.5%;
}

.img3 {
  width: 52.5%;
}

.img4 {
  width: 42.5%;
}

.img5 {
  width: 57.5%;
}

.img6 {
  width: 37.5%;
}

.scale {
  transition: all 0.2s;
}

.scale:hover {
  transform: scale(1.05);
}

.card-color {
  background-color: #c3c0bf;
  margin: 5px;
}

.CentrarNoticia {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
}

.Fondo {
  background-image: url(../assets/images/lionel-messi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.TextoNegrita {
  font-weight: bolder;
}

.TipografiaNav {
  font-family: "Heebo", sans-serif;
  font-weight: 900;
}

#AFA {
  width: 200px;
  height: 265px;
  object-fit: cover;
}

.Form {
  background-color: #c3c0bf;
  padding: 5px;
  border-radius: 8px;
  border: solid 2px black;
}

.Form textarea {
  width: 95%;
  height: 80px;
}

.Centrar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 54vh;
  flex-wrap: wrap;
  padding: 10px;
}

.CentrarH {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 85vh;
  padding: 10px;
}

.Izquierda {
  display: flex;
  justify-content: left;
  align-items: left;
  width: 100%;
  height: auto;
}

.Titulo {
  font-family: "Heebo", sans-serif;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 2px white;
}

.Texto {
  width: 100%;
  font-family: "Heebo", sans-serif;
  width: 100%;
  text-align: center;
  text-shadow: 0.5px 0.5px 1px rgb(75, 74, 74);
  font-weight: bold;
}


nav {
  background: rgb(249, 212, 0);
  background: radial-gradient(
    circle,
    rgba(249, 212, 0, 1) 0%,
    rgba(250, 250, 250, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
  margin-bottom: 1px;
}

nav a {
  background-color: rgb(black);
}

/* Main */

main {
  width: 100%;
  min-height: 84vh;
}

#Inicio {
  text-align: center;
  padding: 5px 10px;
}

/* Nav */
nav {
  background: rgb(249, 212, 0);
  background: radial-gradient(
    circle,
    rgba(249, 212, 0, 1) 0%,
    rgba(250, 250, 250, 1) 51%,
    rgba(0, 212, 255, 1) 100%
  );
}

/* Footer */

footer {
  background-color: black;
  color: grey;
  height: 8.5vh;
  width: 100%;
}

.mainGoles {
  height: 84vh;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 10%;
}

.golesCarta {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #43b0f8;
  width: 350px;
  height: 350px;
  border-radius: 3px;
  transition: all 0.2s;
  margin: 5px;
}

.golesCarta:hover {
  transform: scale(1.01);
  box-shadow: 0 0 15px black;
}

.golesCarta h2 {
  color: #f2f2f2;
  transition: all 0.2s;
}

.golesCarta:hover h2 {
  color: #ffffff;
}

.golesCarta iframe {
  width: 80%;
  height: 60%;
}

@media (max-width: 735px) {
  .Centrar {
    justify-content: center;
    width: 100%;
    height: 150vh;
  }

  #AFA {
    width: 80%;
    height: auto;
  }

  #videomundial {
    width: 80%;
    height: 50vh;
  }

  .maininicio {
    width: 100%;
    height: 200vh;
    margin-top: 29px;
  }

  .iframegoles {
    width: 90vw;
  }

  .mainGoles {
    padding: 0%;
    justify-content: center;
  }
}

@media (max-width: 1049px) {
  .mainGoles {
    height: auto;
  }
}

@media (max-width: 1100px) {
  .CentrarH img {
    display: none;
  }

  .CentrarH {
    justify-content: center;
  }
}

@media (max-width: 350px) {
  .Form {
    width: 98%;
  }
}

@media (max-width: 420px) {
  .ImgGaleria {
    height: auto;
  }

  .img1,
  .img2,
  .img3,
  .img4,
  .img5,
  .img6,
  .img7 {
    height: 150px;
    width: 90%;
  }
}
